<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="panel-title text-small">Edit Article</h6>

        </div>
        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>

    </div>
  </div>
</div>
