<% render '#{params[:controller]/nav}' %>asdfasdf
<ul class="nav">
	<li class="nav-header">Navigation</li>
	<li class="has-sub active">
		<a href="javascript:;">
			<b class="caret"></b>
			<i class="fa fa-th-large"></i>
			<span>Dashboard</span>
		</a>
		<ul class="sub-menu">
			<li><a href="index.html">Dashboard v1</a></li>
			<li class="active"><a href="index_v2.html">Dashboard v2</a></li>
		</ul>
	</li>
</ul>