- render '#{params[:controller]/nav}'
asdfasdf
%ul.nav
  %li.nav-header Navigation
  %li.has-sub.active
    %a{:href => "javascript:;"}
      %b.caret
      %i.fa.fa-th-large
      %span Dashboard
    %ul.sub-menu
      %li
        %a{:href => "index.html"} Dashboard v1
      %li.active
        %a{:href => "index_v2.html"} Dashboard v2
