<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title text-small">Basic Info
        <span class="label label-danger"></h6>
      </span>

    </div>
    <div class="panel-body">
      <% if !@resume.errors.empty? %>
        <div class="alert alert-error">
          <ul>
            <% @resume.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="well">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <%= render 'form' %>

        </div>
      </div>

    </div>
  </div>
</div>
</div>
